body {
  margin: 0;
  font-family: Arial;
  background: #c7e6e8;
}

.screen { display: none; padding: 20px; }
.screen.active { display: block; }

.page-title {
  text-align: center;
  font-size: 3rem;
}

.home-button-row {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.home-btn {
  padding: 20px;
  border: 3px solid black;
  background: #2f80ad;
  color: white;
  font-size: 1.2rem;
}

.back-btn {
  margin-bottom: 10px;
}
